<div class="outer-container">
    <div class="gradient-container">
        <div class="">
            <div class="row mx-auto">
                <h1 class="mx-auto">
                    TripSync
                </h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h1>
                        Specifications : 
                    </h1>
                    <ul>
                        <li>
                            Easily configurable via Web-App, So no download needed just fire-it-up.
                        </li>
                        <li>
                            More than 60 pre-defined transitions to play with.
                        </li>
                        <li>
                            Elegant Mood Light that uses high powered, 16 million colour LEDs, to fit in your mood.
                        </li>
                        <li>
                            Compact in size.
                        </li>
                        <li>
                            Plug & Play.
                        </li>
                        <li>
                            Integrate with your Social platform to get notified in different colour.
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6">
                            ok
                        </div>
                        <div class="col-sm-6">
                            <model-viewer id="reveal" poster="assets/loading.png" loading="'eager'" camera-controls
                                src="assets/image.glb" alt="A 3D model of a lhl">
                            </model-viewer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn">Buy now</button>
    </div>
</div>