html,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

    min-height: 100vh;
    height: auto;
}
img {
    width: 140px;
}
.subtitle {
    font-weight: 200;
    font-size: 1.2rem;
}
.underText{
    font-weight: 100;
    font-size: 0.9rem;
    color: whitesmoke;
    text-align: left;
}
  model-viewer {
    width: auto;
    height: 40vh;
  }
  .trip{
    font-weight: 700;
  }
  .sync{
      font-weight: 200;
  }
  .header{
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
  }
.outer-container {
    padding: 3vh 5vh 3vh 5vh;
    background: rgb(30, 30, 30);
}
// .topLogo{
//     background-color: whitesmoke;
// }
.gradient-container {
    color: white;
    border-radius: 25px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(30, 30, 30)), linear-gradient(to right,  rgb(153, 67, 184), rgb(65, 45, 138));
    min-height: 94vh;
    min-width: 92vw;
}
.top-row {
    height: 20%;
}
.btn {
    position: fixed;
    bottom: 5%;
    left: 6%;
    width: 30%;
    height: 6%;
    max-width: 200px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg,rgb(153, 67, 184),  rgb(65, 45, 138));
    background-size: 600%;
    -webkit-animation: anime 4s linear infinite;
    animation: anime 4s linear infinite;
}
@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
