
<div class="outer-container">
    <div class="gradient-container">
        <div class="row">
            <div class="col-lg-4  mt-5">
                <div class="row mt-6 mb-0 ml-5 topLogo">
                    <img
                        src="https://user-images.githubusercontent.com/28580833/100984783-27308580-3571-11eb-82e1-b677a7fc88a3.png" />
                </div>
                <div class="row ml-5 mr-5 mt-4 mb-0 subtitle ">
                    <p class="m-0">
                        Smart Lights
                    </p>
                </div>
                <div class="row ml-5 header">
                    <span class="trip">
                        Trip
                    </span>
                    <span class="sync">
                        Sync
                    </span>
                </div>
                <div class="row ml-5 mt-3">
                    <p class="m-0 underText">
                        TripSync lights are ambient, colourful, <br>aesthetic with silent cinematic effects.<br> Light
                        with a built in smart controls.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 mt-5">
                <div class="row top-row pt-5 ml-0">
                    <div class="col-6 ml-0">
                        Container top left
                    </div>
                    <div class="col-6">
                        Container top right
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <model-viewer poster="assets/loading.png" loading="'eager'" camera-controls
                            src="assets/image.glb" alt="A 3D model of a lhl">
                        </model-viewer>
                    </div>
                </div>
                <div class="row pt-5 pb-5">
                    <div class="col-6">
                        Container bottom left
                    </div>
                    <div class="col-6">
                        Container bottom right
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn">Buy now</button>
</div>