<div class="outer-container">
    <div class="gradient-container">
        <div class="row ml-5 mr-5 mt-5">
            <h1 class="mx-auto font-weight-bold">
                TripSync
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-4  mt-5">
                <h1 class="font-weight-bold">
                    {{textData.dashboard.title}}
                </h1>
                <ul>
                    <li>
                        {{textData.dashboard.line1}} </li>
                    <li>
                        {{textData.dashboard.line2}} </li>
                    <li>
                        {{textData.dashboard.line3}} </li>
                    <li>
                        {{textData.dashboard.line4}} </li>
                    <li>
                        {{textData.dashboard.line5}} </li>
                    <li>
                        {{textData.dashboard.line6}} </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="row top-row pt-5">
                    <div class="col-6">
                        Container top left
                    </div>
                    <div class="col-6">
                        Container top right
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <model-viewer poster="assets/loading.png" loading="'eager'" camera-controls
                            src="assets/image.glb" alt="A 3D model of a lhl">
                        </model-viewer>
                    </div>
                </div>
                <div class="row pt-5 pb-5">
                    <div class="col-6">
                        Container bottom left
                    </div>
                    <div class="col-6">
                        Container bottom right
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn">Buy now</button>
</div>